        @font-face {
            font-family: 'hero-font';
            src: url('cc-sign-language.ttf') format('truetype');
        }
        * {
            box-sizing: border-box;
        }

        html.lenis {
        height: auto;
        }

        .lenis.lenis-smooth {
        scroll-behavior: auto !important;
        }

        .lenis.lenis-smooth [data-lenis-prevent] {
        overscroll-behavior: contain;
        }

        .lenis.lenis-stopped {
        overflow: hidden;
        }

        .lenis.lenis-scrolling iframe {
        pointer-events: none;
        }

        body {
            /* font-family: "Sniglet", system-ui; */
            font-family: 'hero-font', sans-serif;
            margin: 0;
            padding: 0;
            line-height: 1;
			background: linear-gradient(to bottom right, #c7efff96, white);
        }

        section {
            padding-bottom: 30px;
            position: relative;
        }
		#about{
			background-color:#ffffff;
		}
		#how-2-buy{
			background-color:#d6e7ff85;
		}
		.about-content{
			margin-left:100px;
			justify-content:center;
		}
		.how-2-buy-content{
			margin-left:60px;
			justify-content:center;
		}
		.sec-image{
			max-width:275px;
			width:100%;
			height:auto;
			margin-left:30px;
		}
		.menu img{
			max-width:85px;
			width:100%;
			height:auto;
		}

        header {
            position: absolute;
            z-index: 5;
            top: 24px;
            width: 100%;
        }

        main {
            overflow: hidden;
        }

        p {
            line-height: 1.5;
            font-size: 18px;
        }
		.parant-float{
			max-width:650px;
		}
        .child-float{
			float:left;
			max-width: 50%;
		}
        .uppercase {
            text-transform: uppercase;
        }
		.game{
			display: flex;
			max-width:100%;
		}
		.game-item{
			float:left;
			max-width: 45vh;
			max-height: 30vh;
			overflow: hidden;
			position: relative;
			margin: 0 auto;
			cursor: pointer;
			margin-right: 1em;
		}
		.social{
			margin-top:40px;
		}
		.t{
			max-width:100px;
		}

		#address {
			display: inline-block;
			margin: 0 auto;
            color: #fff;
        }

        .wrap {
            max-width: 1400px;
            width: 100%;
            padding: 24px 48px;
            margin: 0 auto;
            position: relative;
            z-index: 1;
        }
        
        .text-center {
            text-align: center;
        }

        .center {
            align-items: center;
            justify-content: center;
        }

        .d-flex {
            display: flex;
        }

        .column {
            flex-direction: column;
        }
		.row{
			flex-direction:row;
		}

        .space-around {
            justify-content: space-around;
        }

        .text-cta {
            color: #78d751
        }

        .text-blue {
            color: #039;
        }

        .text-yellow {
            color: #ffdc06;
        }

        .text-center {
            text-align: center;
        }

        .headline {
            font-size: 60px;
            font-weight: 800;
            text-align: center;
            line-height: 1.25;
            margin-bottom: 24px;
        }

        .subheadline {
            font-size: 24px;
            font-weight: 800;
            margin-top: 0;
        }

        .btn {
            padding: 16px 32px;
            border-radius: 200vw;
            font-weight: 600;
            color: #000;
            background: #fff;
            border: 2px solid #000;
            text-decoration: none;
            font-size: 18px;
            transition: all 0.3s ease;
            white-space: nowrap;
        }

        .btn-cta {
            background: #78d751;
            color: #000;
            border: 2px solid #000;
        }

        .btn-cta:hover, .btn-cta:active, .btn-cta:focus {
            background: #82e957;
        }

        .bg-gray {
            background: #fff4df;
        }

        .bg-grid {
            background-image: url(images/favicon.png);
            background-position: 50%;
            background-size: 96px;
            background-attachment: scroll;
            margin-top: -100px;
            padding-top: 150px;
        }

        .label {
            display: flex;
            font-weight: 800;
            padding-top: 48px;
            color: #039;
            font-size: 48px;
            text-transform: uppercase;
        }

        .bold {
            font-weight: 800;
        }

        .mt-0 {
            margin-top: 0;
        }

        ul {
            gap: 24px;
        }

        li {
            font-size: 20px;
            line-height: 1.25;
        }

        h3 {
            line-height: 1.5;
        }

        .b-400 {
            font-weight: 400;
        }

        .b-800 {
            font-weight: 800;
        }

        .content {
            max-width: 600px;
            margin-right: 48px;
        }

        .content-img-container {
            overflow: hidden;
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
            align-self: start;
            border-radius: 8px;
        }

        .content-img {
            max-width: 600px;
            display: flex;
            align-self: center;
            transform: scale(1);
            width: 100%
        }

        .bg-circle::before {
            content: '';
            position: absolute;
            top: 150px;
            left: 0;
            background-image: url('images/circle-pattern.png');
            width: 250px;
            height: 250px;
            opacity: 0.05;
            }

        /* Header */

        .menu {
            justify-content: space-between;
            width: 100%;
            align-items: center;
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
            padding: 6px 31px;
            border-radius: 200vw;
            background: #434451;
        }

        .menu-toggle {
            display: none;
            filter: invert(1);
        }

        .menu .logo {
			
			display:inline;
            color: #fff;
            font-weight: 400;
            font-size: 32px;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 800;
            letter-spacing: 1px;
			margin-left:10px;
        }
        
        .menu .logo img {
            max-width: 150px;
        }

        .nav {
            gap: 24px;
            align-items: center;
        }
		.nav2 {
            gap: 24px;
            align-items: center;
        }

        .nav a {
            color: #fff;
            text-decoration: none;
            transition: all 0.3s ease;
            font-size: 18px;
            text-transform: uppercase;
            font-size: 22px;

        }

        .nav a:hover {
            color: #ffdc06;
        }
		.nav2 a {
            color: #000;
            text-decoration: none;
            transition: all 0.3s ease;
            font-size: 18px;
            text-transform: uppercase;
            font-size: 22px;

        }

        .nav2 a:hover {
            color: #000;
        }

        .btn-wrap {
            gap: 24px;
        }

        .btn-yellow {
            background: #ffdc06;
            color: #000;
			padding:10px;
			border-radius:5px;
        }
		#buy_btn:hover{
			color:red;
		}

        .nav .btn-black:hover, .btn-yellow:hover {
            background: #ffdc06;
            color: #000;
        }

        .btn-black {
            background: #000;
            color: #fff;
        }

        main {
            padding-top: 135px;
        }
        
        .hide {
            display: none !important;
        }

        /* Hero */
		.parant-float h3{
			max-width: 280px;
			font-size: 16px;
			text-align:center;
		}
        #hero {
            min-height: 100vh;
        }

        #hero .btn-wrap {
            margin-top: 24px;
        }

        #dmno-buzzer {
            position: absolute;
            bottom: -40%;
            left: 0;
            max-width: 200px;
        }

        #dmno-stack {
            position: absolute;
            top: 0;
            right: 0;
            max-width: 200px;
        }
		.ext-buy{
			margin-top:10px;
			display:none;
		}
        .hero-content {
            align-items: center;
            text-align: center;
            position: relative;
            z-index: 2;
            max-width: 1000px;
            margin: 10px auto;
			margin-bottom:70px;
            padding-top: 24px;
        }

        .hero-content img {
            max-width: 650px;
            width: 100%;
			margin-top:-25px;
        }

        .hero-content h1 {
            font-size: 50px;
            line-height: 1;
            margin-bottom: 24px;
            margin-top: 0;
            text-transform: uppercase;
            font-weight: bold;
        }
		.hero-content p{font-size:18px}
        
		#buy-h1{
			font-size: 60px;
		}

        .hero-content p {
            max-width: 600px;
            font-size: 22px;
        }
		.ab-meme-container{
			margin-top:30px;
			float:left;
		}
		
		.about-content h1{
			 font-size:60px; margin-top:0px;
		}
		.about-pics img {
			width: 100%;
			height:100%;
		}
		#ab-p{
			font-size:20px;
			margin-top:-20px;
		}
		.ab-item {
			align-items:center;
			float: left;
			max-width: 18vh;
			max-height: 30vh;
			overflow: hidden;
			position: relative;
			margin: 0 auto;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
			cursor: pointer;
			padding: 0.5em;
		}
		.ab-item p{
			 font-size:12px; line-height:0.3px
		}
		.meme{
			background-color:#ffffff;
		}
		.meme_container {
			display:flex;
			justify-content: center;
			padding:0.5em;
			overflow:hidden;
		}

		.meme img {
			width: 100%;
			height:100%;
		}

		.item:hover img {
  opacity: 0.8;
}
		.item {
			align-items:center;
			float: left;
			max-width: 45vh;
			max-height: 30vh;
			overflow: hidden;
			position: relative;
			margin: 0 auto;
			cursor: pointer;
			padding: 0.5em;
		}
		.item2 {
			align-items:center;
			float: left;
			max-width: 28vh;
			max-height: 30vh;
			overflow: hidden;
			position: relative;
			margin: 0 auto;
			cursor: pointer;
			padding: 0.5em;
		}
		.item2:hover img {
  opacity: 0.8;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 60%;
  max-width: 500px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
        #tokenomics-wrap img {
            max-width: 700px;
            width: 100%;
            margin: 0 auto;
        }
        
        #tokenomics-wrap img#tokenomics-2 {
            margin-top: 48px;
            margin-bottom: 96px;
        }
        
         #tokenomics-wrap img#tokenomics {
            margin-bottom: 96px;
        }

        /* Benefits */

        #section-benefits {
            position: relative;
            z-index: 5;
        }

        #generator {
            margin-bottom: 48px;
            padding-bottom: 96px;
            position: relative;
            min-height: 100vh;
            z-index: 5;
        }

        #generator #top-border {
            position: absolute;
            top: -24px;
            left: 0;
            height: 40px;
        }

        #generator #bottom-border {
            position: absolute;
            bottom: -24px;
            transform: rotate(180deg);
            left: 0;
            height: 40px;
        }

        #generator #dmno-open-sign {
            max-width: 300px;
        }

        #meme {
            max-width: 800px;
            position: relative;
        }

        #meme-text {
            position: absolute;
            top: 150px;
            left: 60px;
            line-height: 32px;
                width: 260px;
        }
        
        #meme img {
            width: 100%;
        }

        #generator input {
            padding: 16px 32px;
            border-radius: 200vw;
            font-weight: 600;
            color: #000;
            background: #fff;
            border: 2px solid #000;
            text-decoration: none;
            font-size: 18px;
            width: 600px;
            margin-top: 24px;
        }

        #generator input:focus, #generator input:active {
            border-color: #ffdc06;
            outline: 2px solid #ffdc06;
        }

        #generator button {
            margin-top: 24px;
        }

        .highlights {
            gap: 24px;
            margin-top: 48px;
        }

        .highlight {
            transform: translateY(40px);
            opacity: 0;
        }

        .icon {
            border-radius: 50%;
            width: 100px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 24px;
        }

        .icon img {
            max-width: 50px;
            display: flex;
            align-self: center;
        }

        .mockup {
            position: relative;
        }

        .mockup img {
            position: relative;
            width: 400px;
            top: 48px;
            left: 96px;
        }

        .highlight {
            align-items: center;
        }

        .highlight h3 {
            margin-bottom: 12px;
            font-size: 26px;
            line-height: 1.25;
        }

        .highlight p {
            margin-top: 0;
            max-width: 400px;
        }

        /* Benefits */

        .card-container {
            display: flex;
            gap: 24px;
            margin-top: 64px;
        }

        .card {
            padding: 32px 24px;
            border: 4px solid #039;
            border-radius: 8px;
            flex: 1;
            background: #fff;
            box-shadow: rgba(17, 12, 46, 0.15) 0px 12px 25px 0px;
            transform: translateY(40px);
            opacity: 0;
        }

        .card img {
            max-width: 50px;
        }

        .card h3 {
            font-size: 26px;
            line-height: 1.25;
        }




        /* Difference */
        #section-difference {
            padding-top: 96px;
        }

        #section-difference .content {
            margin-right: 0;
            margin-left: 48px;
        }

        /* CTA */

        .cta {
            padding: 48px;
            border-radius: 8px;
            background: #78d751;
        }

        .cta p {
            margin: 0;
            max-width: 600px;
            text-align: center;
        }

        .cta-content {
            margin-left: 48px;
        }

        #section-cta {
            padding-top: 96px;
            padding-bottom: 96px;
        }

        #section-cta h2 {
            font-size: 24px;
            margin: 0;
            color: #039;
            white-space: nowrap;
        }

        .cta-content h5 {
            font-size: 40px;
            margin: 12px 0 18px 0;
            margin-top: 0;
        }

        .cta-content a {
            align-self: start;
            margin-top: 12px;
        }

        footer {
            background-color:#0f152f;
			padding-top: 20px;
            padding-bottom: 20px;
        }

        footer .wrap {
            justify-content: space-between;
        }
        
        #disclaimer h5 {
            font-size: 12px;
            margin: 0;
        }
        #disclaimer p{
			font-family:sans-serif;
            font-size: 12px;
            max-width: 265px;
            text-align: center;
			color: #ffffff;
        }
        
        #disclaimer .btn {
            outline: none;
            background: transparent;
            font-size: 12px;
        }
        
        #icons {
            margin-top: 24px;
        }
        
          #icons img {
              width: 75px;
              margin: 0 12px;
          }

		@media(max-width: 1100px){
			.hero-content img{
				max-width: 570px;
			}
		}
		
        @media(max-width: 1024px){

            section {
                padding-bottom: 48px;
            }

            .nav {
                /*display: none;*/
            }
            
            .nav a {
                font-size: 18px;
            }

            .menu-toggle {
                display: none;
               max-width: 9px;
                margin-right: 0;
            }

            .hero-content img {
                max-width: 400px;
            }

            .hero-content h1 {
                font-size: 48px;
                margin-bottom: 0;
            }
            
    
            /* #dmno-buzzer, #dmno-stack {
                max-width: 800px;
            } */

            #appraisal-count {
                font-size: 48px;
            }

            .headline {
                margin-bottom: 48px;
                font-size: 48px;
            }

            .card-container {
                flex-direction: column;
                gap: 48px
            }

            .container {
                flex-direction: column;
                align-items: center;
            }

            .content-img-container {
                margin: 0 auto;
            }

            #section-training, #section-difference {
                padding-top: 0;
            }

            .container img {
                margin-top: 48px;
            }

            #section-difference .container {
                flex-direction: column-reverse;
            }

            .cta-content h5 {
                font-size: 32px;
            }
            
            #meme {
                max-width: 600px;
            }
            
            #meme-text {
                top: 107px;
                left: 46px;
                line-height: 26px;
            }
        }
		@media(max-width: 968px){
			.hero-content h1{
				font-size: 36px;
			}
			.hero-content img{
				max-width: 370px;
			}
			video{Width:260px; height:165px}
			.parant-float{margin:35px auto;justify-content:center;display:flex;align-items:center}
		}
        @media(max-width: 900px){
			.hero-content h1{
				font-size: 36px;
			}
			.hero-content p{
				font-size: 19px;
			}
			.hero-content img{
				max-width: 370px;
			}
			video{Width:260px; height:165px}
			.parant-float{margin:35px auto;justify-content:center;display:flex;align-items:center}
			#hero{padding-bottom:0px}
			.sec-image{max-width:210px; height:450px; margin-left:20px;}
			.about-content{margin-left:60px};
			.about-content h1{font-size:40px}
		}
		@media(max-width: 840px){
			.hero-content img{
				max-width: 320px;
			}
			#buy-h1{
			font-size: 35px;
		}
		}
        @media(max-width: 768px){
			.how-2-buy-content h2{font-size:20px;}
			.how-2-buy-content h3{font-size:15px;}
			#buy-h1{
			font-size: 30px;
			}
			.about-content h1{
			 font-size:48px; margin-top:0px;
			}
			.item{max-height:23vh;}
			.item2{max-height:23vh;}
				.nav {
                gap: 16px
				}
				.nav a {
					font-size: 14px;
				}
            
            .nav .btn {
                padding: 16px;
            }
            
            .wrap {
                padding: 24px;
            }
            
            .label {
                font-size: 28px;
            }
            
            header {
                top: 0;
            }
            
            
            .menu img {
                max-width: 67px;
            }
			.menu .logo{font-size:25px};
            
            #dmno-buzzer {
                left: -50px;
                max-width: 150px;
            }
            #dmno-stack {
                right: -50px;
                max-width: 150px;
            }

            .hero-content {
                padding-top: 0;
                flex-direction: column-reverse;
            }
            
            .hero-content img {
                max-width: 480px;
            }

            .hero-content h1 {
                font-size: 36px;
            }
            
            .hero-content p {
                font-size: 20px;
                line-height: 1.25;
            }
            
#about
            
            #meme {
                max-width: 300px;
            }
            
            #meme-text {
    top: 43px;
    left: 26px;
    line-height: 17px;
    font-size: 10px;
    width: 171px;
}

            .mockup img {
                left: auto;
            }

            .headline {
                margin-bottom: 0;
                font-size: 28px;
            }
            
            .icon {
                min-width: 75px;
                width: 75px;
                height: 75px;
            }
            
            .icon img {
                max-width: 30px;
            }
            
            .highlight h3, .card h3 {
                font-size: 22px;
            }
			h1{font-size:48px}
            #section-difference .content {
                margin-left: 0;
            }

            .content {
                margin-right: 0;
            }

            .overview-container {
                flex-direction: column;
            }
            
            #section-cta {
                padding-top: 48px;
                padding-bottom: 48px;
            }

            #section-cta .cta-container {
                flex-direction: column;
            }

            .cta-content {
                margin-left: 0;
                margin-top: 24px;
            }
            
            .cta-content h5 {
                font-size: 26px;
                line-height: 1.25;
            }
            
            .headline {
                margin-bottom: 24px;
            }
            
             footer .wrap {
                flex-direction: column;
            }
            
            #disclaimer {
				
            }
            
        }
		@media(max-width: 690px){
			.about-content{
			 margin-left:16px;
			}
			#ab-p {
				font-size: 16px;
				margin-top: -20px;
			}
			.ab-item{max-width:13vh}
			video {
				Width: 160px;
				height: 100px;
			}
			.sec-image {
				max-width: 174px;
				max-height:360px;
				margin-left:0px;
			}
			.t{
				max-width:80px;
			}
			.parant-float h3{max-width:168px; font-size:14px}
			.video-container{position:relative; Width:100%}
			.video-container video{Width:100%; height:auto;}
		}
		@media(max-width: 540px){
			.menu{padding:0px 20px}
			.hero-content img{
				max-width: 320px;
			}
			.hero-content h1{font-size:25px}
			.hero-content p{font-size:12px}
			.about-content h1{
			 font-size:35px; margin-top:0px;
			}
			#ab-p {
				font-size: 14px;
				margin-top: -20px;
			}
			.ab-item{max-width:10vh}
			video {
				Width: 160px;
				height: 100px;
			}
			.sec-image {
				max-width: 118px;
				max-height:270px;
				margin-left:0px;
			}
			.item,.item2{max-height:18vh}
			#buy-h1{
			font-size: 35px;
			}
			.how-2-buy-content{margin-left:7px}
			.how-2-buy-content h3 {
				font-size: 11px;
			}
			.social{margin-top:15px;}
			.t{
				max-width:50px;
			}
		}
		@media(max-width: 435px){
			.menu{padding:0}
			.nav{display:none}
			.ext-buy{display:flex}

			.about-content{
			 margin-left:16px;
			}
			#ab-p {
				font-size: 13px;
				margin-top: -20px;
			}
			.ab-item{max-width:8vh}
			video {
				Width: 160px;
				height: 100px;
			}
			.sec-image {
				max-width: 118px;
				max-height:270px;
				margin-left:0px;
			}
			.item,.item2{max-height:18vh}
			#buy-h1{
			font-size: 35px;
			}
			.how-2-buy-content{margin-left:7px}
			.how-2-buy-content h3 {
				font-size: 11px;
			}
			.parant-float{margin-top:13px}
			.parant-float h3{
				max-width: 220px;
				font-size: 10px;
			}
		}
		@media(max-width: 400px){

			.about-content{
			 margin-left:16px;
			}
			.about-content h1 {
				font-size: 23px;
				margin-top: 10px;
			}
			#ab-p {
				font-size: 12px;
				margin-top: -9px;
			}
			.ab-meme-container{margin-top:7px;}
			.ab-item{max-width:7vh}
			video {
				Width: 160px;
				height: 100px;
			}
			.sec-image {
				max-width: 113px;
				max-height:270px;
				margin-left:0px;
			}

		}
		@media(max-width: 350px){

			.about-content{
			 margin-left:8px;
			}

			#ab-p {
				font-size: 12px;
				margin-top: -9px;
			}
			.ab-meme-container{margin-top:7px;}
			.ab-item{max-width:7vh}
			.ab-item p{font-size:9px}
			.sec-image {
				max-width: 100px;
				max-height:244px;
				margin-left:0px;
			}
			.item,.item2{max-height:18vh}
			#buy-h1{
			font-size: 35px;
			}
			.how-2-buy-content{margin-left:7px}
			.how-2-buy-content h3 {
				font-size: 11px;
			}
			.parant-float h3{
				max-width: 220px;
				font-size: 10px;
			}
		}

            
