*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}


html{
	line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
}

body{
	margin: 0;
	padding: 0;
	display: block;
	line-height:inherit;
}

.font-ProximaNova{
	font-family: ProximaNova, sans-serif;
}

.bg-FBFEFF{
	--tw-bg-opacity:1;
	background-color: rgb(251 254 255 / var(--tw-bg-opacity))
}
.bg-\[\#F6F6F6\] {
    --tw-bg-opacity: 1;
    background-color: rgb(246 246 246 / var(--tw-bg-opacity));
}
.rounded-2xl {
    border-radius: 1rem;
}
.h-full {
    height: 100%;
}
.list-disc {
    list-style-type: disc;
}
ol, ul, menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.bounce {
    align-self: flex-end;
    width: 100px;
    height: 100px;
    background: #FFB6C1;
    animation-duration: 300ms;
    animation-iteration-count: 1;
    transform-origin: bottom;
}
.bounce:hover {
    animation-name: bounce;
    animation-timing-function: linear;
}
@keyframes bounce {
  0%   { transform: translateY(0); }
  100%  { transform: translateY(-50px); }
}
.text-black{
	--tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
}


.bg-white{
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.w-full{
	width: 100%;
}

.z-20 {
    z-index: 20;
}

.top-0 {
    top: 0px;
}
.left-0 {
    left: 0px;
}

.absolute {
    position: absolute;
}

.h-screen{
	height:100vh;
}

.flex{
	display: flex;
}

.z-9999{
	z-index:9999;
}

.inset-0{
	inset: 0px;
}

.fixed{
	position:fixed;
}

.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.hidden {
    display: none;
}

.container {
    max-width: 100%;
    padding-inline: 15px;
    margin-inline: auto;
}

.justify-between {
    justify-content: space-between;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.gap-y {
    row-gap: 0.5rem;
}
.gap-y-4 {
    row-gap: 1rem;
}
.gap-y-6 {
    row-gap: 1.5rem;
}
.gap-x {
    -moz-column-gap: 0.5rem;
    column-gap: 0.5rem;
}
.mt-2 {
    margin-top: 0.5rem;
}
.p-4 {
    padding: 1rem;
}
.border-\[\#BB5D02\] {
    --tw-border-opacity: 1;
    border-color: rgb(187 93 2 / var(--tw-border-opacity));
}
.mt-auto {
    margin-top: auto;
}
.items-baseline {
    align-items: baseline;
}
.border {
    border-width: 1px;
}

.rounded-2xl {
    border-radius: 1rem;
}
.gap-4 {
    gap: 1.2rem;
}
.grid {
    display: grid;
}
.transition {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.transition2{
	transition: opacity .5s, margin-top .5s, margin-bottom .5s;
	-webkit-transition: opacity .5s, margin-top .5s, margin-bottom .5s;
}
.socials:hover{
	opacity: 0.8;
    margin-bottom: 2vh;
}
.p-2\.5 {
    padding: 0.625rem;
}
.-mx-3 {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.gap-y-5 {
    row-gap: 1.25rem;
}
.bg-footer-img{
	background-image:url(images/footer-bg.png);
}
.w-40 {
    width: 10rem;
}
.gap-y-3 {
    row-gap: 0.75rem;
}
.gap-x-3 {
    -moz-column-gap: 0.75rem;
    column-gap: 0.75rem;
}
.order-3 {
    order: 3;
}
.bg-road-img{
	background-image: url(images/team-bg.png);
}
.bg-footer-img{
    background-image: url(images/footer-bg.png);
}
.pr-4 {
    padding-right: 1rem;
}
.ml-6 {
    margin-left: 1.5rem;
}
.font-extrabold {
    font-weight: 800;
}
.\!leading-loose {
    line-height: 2 !important;
}
.font-semibold {
    font-weight: 600;
}
.ease-linear {
    transition-timing-function: linear;
}

.duration-300 {
    transition-duration: 300ms;
}

.transition {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.bg-\[linear-gradient\(0deg\2c rgba\(0\2c 0\2c 0\2c 1\)_50\%\2c rgba\(246\2c 133\2c 27\2c 1\)_50\%\)\] {
    background-image: linear-gradient(0deg,rgba(0,0,0,1) 50%,rgba(246,133,27,1) 50%);
}
.border-b-\[\#F6851B\] {
    --tw-border-opacity: 1;
    border-bottom-color: rgb(246 133 27 / var(--tw-border-opacity));
}
.border-b-8 {
    border-bottom-width: 8px;
}
.px-2\.5 {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}
.py-0\.5 {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
}
.\!pb-0 {
    padding-bottom: 0px !important;
}
.p-3 {
    padding: 0.75rem;
}
.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.sticky-header {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
    background: #F6851B;
	z-index:99999;
}
.bg-primary {
    --tw-bg-opacity: 1;
    background-color: #F6851B;
}

.shape {
    -webkit-clip-path: polygon(9.479% 0%, 90.521% 0%, 100% 50%, 90.521% 100%, 9.479% 100%, 0% 50%, 9.479% 0%);
    clip-path: polygon(9.479% 0%, 90.521% 0%, 100% 50%, 90.521% 100%, 9.479% 100%, 0% 50%, 9.479% 0%);
}
.border-white{
	--tw-border-opacity:1;
	border-color:#fff;
}
.group-hover:hover{
	--tw-border-opacity:1;
	border-color:#fff;
	 --tw-text-opacity: 1;
    color: rgb(255 255 255);
	--tw-bg-opacity: 1;
    background-color: #F6851B;
	transition-property: background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property:  background-color, border-color,  fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property:  background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.shape:hover{
	--tw-bg-opacity: 1;
    background-color: #F6851B;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
nav{
	margin-top:2rem;
}
.lg-pad{
	width:110%;
}

.cat-banner-img{
	max-width:100%;
	margin:auto;
	
}

h1 {
    -webkit-text-stroke: 2px #BB5D02;
    text-stroke: 2px #BB5D02;
	font-size: 65px;
	color: #fff;
	margin-bottom:-10px;
}

.p1{
	font-weight:bold;
	font-size: 28px;
	margin:0;
}

.flex-col{
	flex-direction: column;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.h-7 {
    height: 1.75rem;
}

img, video {
    max-width: 100%;
    height: auto;
}

img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
    vertical-align: middle;
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.leading-tight {
    line-height: 1.25;
}
.leading-\[28px\] {
    line-height: 28px;
}

.uppercase {
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
}

.shape-in {
    -webkit-clip-path: polygon(9.479% 0%, 90.522% 0%, 100% 50%, 90.522% 100%, 9.479% 100%, 0% 50%, 9.479% 0%);
    clip-path: polygon(9.479% 0%, 90.522% 0%, 100% 50%, 90.522% 100%, 9.479% 100%, 0% 50%, 9.479% 0%);
}

.relative {
    position: relative;
}

.bg-url-banner{
	background-image: url(images/bannre-bg.png);
}

.pt-32 {
    padding-top: 8rem;
}

.pb-32 {
    padding-bottom: 8rem;
}

.bg-bottom {
    background-position: bottom;
}

.bg-cover {
    background-size: cover;
}
.bg-meme-png{
    background-image: url(images/team-bg.png);
}
.py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.bg-no-repeat {
    background-repeat: no-repeat;
}
.bg-left-bottom {
    background-position: left bottom;
}
.bg-\[url\(\.\.\/images\/eco-system-bg\.png\)\] {
    background-image: url(images/eco-system-bg.png);
}
.bg-center {
    background-position: center;
}
.bg-\[\#090A0D\] {
    --tw-bg-opacity: 1;
    background-color: rgb(9 10 13 / var(--tw-bg-opacity));
}

.bg-090A0D {
    --tw-bg-opacity: 1;
    background-color: rgb(9 10 13 / var(--tw-bg-opacity));
}

.bg-footsteps{
    background-image: url(images/footsteps.png);
}
.\!leading-\[1\.2\] {
    line-height: 1.2 !important;
}
.capitalize {
    text-transform: capitalize;
}
.font-bold {
    font-weight: 700;
}
.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}
.mb-4 {
    margin-bottom: 1rem;
}
h1, h2 {
    -webkit-text-stroke-width: 1px;
}
blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
    margin: 0;
}
.\!leading-normal {
    line-height: 1.5 !important;
}
.\!leading-relaxed {
    line-height: 1.625 !important;
}
.max-w-\[748px\] {
    max-width: 748px;
}
.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.w-3\/5 {
    max-width: 90%;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.order-2 {
    order: 2;
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.order-1 {
    order: 1;
}
.p-6 {
    padding: 1.5rem;
}
.bg-\[\#262626\] {
    --tw-bg-opacity: 1;
    background-color: rgb(38 38 38 / var(--tw-bg-opacity));
}
.mt-6 {
    margin-top: 1.5rem;
}
.mb-6 {
    margin-bottom: 1.5rem;
}
.max-w-\[938px\] {
    max-width: 938px;
}
.text-primary {
    --tw-text-opacity: 1;
    color: rgb(246 133 27 / var(--tw-text-opacity));
}
.justify-end {
    justify-content: flex-end;
}

.text-center {
    text-align: center;
}
.bg-sec-img{
	background-image: url(images/eco-system-bg.jpg);
}
.bg-\[\#FBFEFF\] {
    --tw-bg-opacity: 1;
    background-color: rgb(251 254 255 / var(--tw-bg-opacity));
}
.bg-partners-img{
	background-image:url(images/partner-bg.png);
}
.gap-3\.5 {
    gap: 0.875rem;
}

@media (min-width: 480px) {
    dis-block {
        display: block;
    }
	.xs\:top-\[92px\] {
        top: 92px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

	.sm\:order-2 {
		order: 2;
	}
	.sm\:mt-6 {
		margin-top: 1.5rem;
	}
	.sm\:w-4\/12 {
		width: 33.333333%;
	}
	.sm\:w-6\/12 {
		width: 50%;
	}
	.sm\:px-4 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
	.sm\:text-start {
		text-align: start;
	}
	.sm\:p-6 {
		padding: 1.5rem;
	}
	.sm\:flex-row {
		flex-direction: row;
	}
	.sm\:order-1 {
		order: 1;
	}
	.sm\:text-start {
		text-align: start;
	}
	.sm\:text-xl {
		font-size: 1.25rem;
		line-height: 1.75rem;
	}
	.sm\:gap-5 {
		gap: 1.25rem;
	}
	.sm\:font-bold {
		font-weight: 700;
	}
	.sm\:text-lg {
		font-size: 1.125rem;
		line-height: 1.75rem;
	}

}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
	.md\:py-16 {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
	.md\:text-4xl {
		font-size: 2.25rem;
		line-height: 2.5rem;
	}
	.md\:text-lg {
		font-size: 1.125rem;
		line-height: 1.75rem;
	}
	.md\:gap-5 {
		gap: 1.25rem;
	}
	.md\:gap-y-6 {
		row-gap: 1.5rem;
	}
	.md\:text-xl {
		font-size: 1.25rem;
		line-height: 1.75rem;
	}
	.md\:mt-11 {
		margin-top: 2.75rem;
	}
	.md\:text-start {
		text-align: start;
	}
	.md\:mb-10 {
		margin-bottom: 2.5rem;
	}
	.md\:text-2xl {
		font-size: 1.5rem;
		line-height: 2rem;
	}
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
	.lg\:w-5\/12 {
		width: 41.666667%;
	}
	.lg\:w-7\/12 {
		width: 58.333333%;
	}
	.lg\:w-8\/12 {
		width: 66.666667%;
	}
	.lg\:max-w-\[454px\] {
		max-width: 454px;
	}
	.lg\:w-auto {
		width: auto;
	}
	.lg\:pr-11 {
		padding-right: 2.75rem;
	}
	.lg\:p-11 {
		padding: 2.75rem;
	}
	.lg\:ms-auto {
		-webkit-margin-start: auto;
		margin-inline-start: auto;
	}
}
